.t-default {
  height: 100%;
  position: relative;
  padding-left: 40px;
}

.t-default_menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(100% - 40px);
}

.t-default_ctn {
  padding: 20px;
}