.o-menu {
  height: 100%;
}

.o-menu_overlay {
  z-index: -1;
  opacity: 0;

  &.active {
    opacity: 1;
    z-index: 10;
  }
}

.o-menu_ctn {
  height: 100%;
  background-color: $colors.main-gray;
  text-align: right;
  min-width: 200px;
  transition: transform .3s ease;
  position: relative;
  z-index: 10;

  &.active {
    transform: translateX(160px);
  }
}

.o-menu_overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($colors['main-gray'], .6);
}

.o-menu_button.mat-button {
  padding: 0;
  min-width: 40px;
  color: white;
}

.o-menu_list {
  text-align: left;
  padding-top 20px;
  padding-right: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.o-menu_item {
  transform: translateX(-40px);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.6, 0.03, 0.3, 1);

  .active & {
    transform: translateX(0);
    opacity: 1;
  }

}

for $i in (1..10) {
  .o-menu_item:nth-child({$i}) {
    transition-delay: ($i - 1) * .08s;
  }
}

.o-menu_link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  transition: color .3s ease;
  cursor: pointer;
  position: relative;

  &.active  {
    color: $colors['main-yellow'];
  }

  &:hover {
    color: $colors['main-yellow'];

    &:before {
      transform: scaleX(1);
    }
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: $colors['main-yellow'];
    bottom: 5px;
    transform: scaleX(0);
    transform-origin: left center;
    transition: color, transform .3s ease;
  }
}