<ul class="m-service-card o-recent-services" *ngIf="services.length >= 1">
  <li *ngFor="let item of services" class="m-service-card_item" [routerLink]="['/services/', item._id]">
    <div class="m-service-card_head" [ngClass]="{ 'active': item.status === 1, 'paused': item.status === 2, 'finished': item.status === 3 }">
      <p class="m-service-card_head-date">{{ item.delivery_date.slice(0, 10) }}</p>
      <p class="m-service-card_head-status">{{ statusEnum[item.status - 1] }}</p>
    </div>
    <div class="m-service-card_body">
      <p class="m-service-card_body-txt"><strong>Veículo: {{ item.client?.vehicle?.name }}</strong></p>
      <p class="m-service-card_body-txt">Placa: {{ item.client?.board }}</p>
      <p class="m-service-card_body-txt">Entrada: {{ item.createdAt.slice(0, 10) }}</p>
      <p class="m-service-card_body-txt">Entrega: {{ item.delivery_date.slice(0, 10) }}</p>
      <p class="m-service-card_body-txt" *ngIf="item.status_payment === 1">Pagamento: A pagar</p>
      <p class="m-service-card_body-txt" *ngIf="item.status_payment === 2">Pagamento: Pago</p>
    </div>
  </li>
</ul>

<p *ngIf="services.length == 0" class="error-msg">Nada encontrado</p>