
<main class="t-login">
  <div class="t-login_hld">
    <form method="POST" class="t-login_form" (ngSubmit)="login()">
      <div>
        <mat-form-field class="t-login_field">
          <input type="email" matInput placeholder="E-mail" required name="email" [(ngModel)]="user.email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="t-login_field">
          <input type="password" matInput placeholder="Password" required name="password" [(ngModel)]="user.password">
        </mat-form-field>
      </div>

      <button type="submit" mat-raised-button class="t-login_submit">Login</button>
      <a href="/" mat-raised-button>Esqueci a senha</a>
    </form>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</main>