.t-login {
  background-color: #fedc6f;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-login_hld {
  background-color: #fff;
  border-radius: 10px;
  padding: 100px 30px 30px;
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    background-image: url('../../assets/avatar.png')
  }
}

mat-form-field {
  display: block ;
}

.t-login_submit {
  margin-right: 20px;
}