.cdk-overlay-pane {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-confirm-dlg_txt {
  display: inline-block;
}

.m-confirm-dlg_actions {
  button {
    margin-right: 15px;
  }
}