.cdk-overlay-pane {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-confirm-dlg_txt {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.m-confirm-dlg_actions {
  button {
    margin-right: 15px;
  }
}