.m-internal-controls {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.m-internal-controls_item {
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 15px;
  }
}