.m-service-card {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.m-service-card_item {
  background-color: #fcfcfc;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 3px 5px $colors['light-gray'];
  opacity: 0;
  overflow: hidden;
  animation: fadeUp .5s ease forwards;
  cursor: pointer;

  for $i in (1..100) {
    &:nth-child({$i}) {
      animation-delay: ($i - 1) * .12s;
    }
  }

  &.pd {
    padding: 10px;
    cursor: auto;
  }
}

.m-service-card_head {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  &.active {
    background-color: $colors['main-yellow'];
  }

  &.paused {
    background-color: $colors['main-red'];
  }

  &.finished {
    background-color: $colors['main-green'];
  }

  p {
    margin: 0;
  }
}

.m-service-card_img {
  width: 100%;
}

.m-service-card_body {
  padding: 10px;
}

.m-service-card_item-controls {
  a:first-child {
    margin-right: 10px;
  }
}
