.m-table-data {
  width: 100%;

  .mat-column-quantity {
    text-align: center;
  }

  &.limited {
    max-width: 750px;
    margin 20px;
  }

  .right {
    text-align: right;
  }
}

.mat-row {
  opacity: 0;
  animation: fade .5s ease forwards;

  for $i in (1..100) {
    &:nth-child({$i}) {
      animation-delay: ($i - 1) * .12s;
    }
  }

  .mat-raised-button {
    visibility: hidden;
  }

  &:hover .mat-raised-button {
    visibility: visible;
  }
}

@media all and (max-width: 1023px) {
  .m-table {
    overflow-x: scroll;
  }

  .m-table-data {
    white-space: nowrap;
  }

  .mat-raised-button {
    visibility: visible;
  }
}