<div class="o-menu">
  <span class="o-menu_overlay" [ngClass]="{ 'active': active === true }" (click)="active = !active"></span>
  <nav class="o-menu_ctn" [ngClass]="{ 'active': active === true }">
    <button class="o-menu_button" mat-button (click)="active = !active">
      <mat-icon>menu</mat-icon>
    </button>
    <ul class="o-menu_list">
      <li class="o-menu_item">
        <a (click)="active = !active" [routerLink]="['/']" class="o-menu_link">Home</a>
      </li>
      <li class="o-menu_item">
        <a [routerLinkActive]="['active']" (click)="active = !active" [routerLink]="['/services']" class="o-menu_link">Serviços</a>
      </li>
      <li class="o-menu_item">
        <a [routerLinkActive]="['active']" (click)="active = !active" [routerLink]="['/storage']" class="o-menu_link">Estoque</a>
      </li>
      <li class="o-menu_item">
        <a [routerLinkActive]="['active']" (click)="active = !active" [routerLink]="['/clients']" class="o-menu_link">Clientes</a>
      </li>
      <li class="o-menu_item">
        <a [routerLinkActive]="['active']" (click)="active = !active" [routerLink]="['/config']" class="o-menu_link">Configurações</a>
      </li>
      <li class="o-menu_item">
        <a [routerLinkActive]="['active']" (click)="active = !active" [routerLink]="['/login']" class="o-menu_link">Logout</a>
      </li>
    </ul>
  </nav>
</div>
